/* フォントファミリー*/
$Font:"Montserrat", Helvetica, sans-serif;

/*フォントカラー*/
$color-alpha:     #00ffc8;
$color-beta:      #003a49;
$color-white:     #fff;
$color-lightgrey: #f5f6f6;
$color-midgrey:   #a7a6a6;

$ease-cb: cubic-bezier(.4,0,.2,1);
$ease-cb-2: cubic-bezier(.19,1,.22,1);
$ease-cb-3: cubic-bezier(.77,0,.175,1);

/*サイトカラー*/
$bg: #e9e1d1;
$cta: #e19324;
$under-line: #ebd494;