$pc: 1024px; // PC
$tab: 768px; // タブレット
$sp: 480px;  // スマホ

$pc-size: 1366;
$tab-size: 768;

// メディアクエリー
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}